html,body {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.1em;
}

.image-box {
    display: grid;
    height: 100%;
}
.center-fit {
    width: 100%;
    margin: auto;
    border: 0px;
}


.main-text{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    margin: auto;
    max-width: 90vw;
    font-size: 1.1em;
}

.landing-text{
    font-size: 2rem;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    .main-text{
        max-width: 700px;
    }   
}

#article-wrap{
    background-color: rgb(73, 72, 72);
    border: 1px solid transparent;
    background-image: url("../images/bg-cropped.jpg");
    background-size: cover;
}

#articles{
    margin-top: 20px;
    border: 1px solid rgba(255, 0, 0, 0);
    background-color: rgb(252, 252, 252);
    padding: 10px 2em 10px 2em;
}






/* html{
    margin:0px;
    display: flex;
    justify-content: center;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 120%;
}

.main-img{
    width: 80vw;
}

.main{
    background-color: white;
    min-height: 100%;
}

@media (orientation: landscape) {
    .main{
        margin: auto;
        max-width: 700px;
    }   
}



.menu{
    background-color: white;
    position: fixed;
} */